<h1>ATMS</h1>

<div class="container">
  <div class="row">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      
    </tr>
  </thead>
<% @atms.each do |atms|%>
<tbody>
<tr>
	<td><%= atms.id %></td>
	<td><%= atms.name %></td>
</tbody>

</tr>
<% end %>
</table>

<a class="btn btn-default" href="/atms/new" role="button">Link</a>